{
    "presets": [
      [
        "@babel/preset-env",
        {
            "targets": {
              "ie":11
            },
            "useBuiltIns": "usage",
            "loose": true,
            "corejs": {
                "version": "3.20.1",
                "proposals": true
            }
        }
      ]
    ]
  }