{
    "printWidth": 100,
    "tabWidth": 4, 
    "useTabs": false,
    "semi": true, 
    "singleQuote": true, 
    "quoteProps": "as-needed", 
    "jsxSingleQuote": false, 
    "trailingComma": "all", 
    "bracketSpacing": true, 
    "jsxBracketSameLine": false, 
    "arrowParens": "always", 
    "insertPragma": false, 
    "proseWrap": "preserve", 
    "htmlWhitespaceSensitivity": "ignore", 
    "endOfLine": "auto",
    "bracketLine": true, 
    "requirePragma": true
  }