.bin/
*.bundle.*
**/coverage
package-lock.json
vendor/
.nyc_output/
out/
dist/
ts-node-*
testdata
.github/*
.husky/*
public/
plugins/
**/.cache
**/__snapshots__
**/__fixtures__
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local