
.box{
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
    // max-width: 75rem;
    // margin: 0 auto;
    background: linear-gradient(180deg,#5828c5, #5926c0 37%, #5b23b7);
    // padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}