.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(40deg, #7e64b9, #b081bf 20%, #85dfdf);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
