.layout{
   
    .ant-menu-item{
        user-select: none;
    }
    .sublayout{
        .header,.content{
            background-color: #fff;
            position: relative;
        }
        
        .header{
            span{
                font-size: 26px;
                padding-left: 20px;
            }
            .userInfo{
                float: right;
                margin-right: 20px;
                cursor: pointer;
                user-select: none;
                span{
                    padding-left: 0;
                }
                .box{
                    display: inline;
                    b{
                        font-weight: normal;
                        margin-left: 5px;
                    }
                }
                
            }
        }
    }
}

