/** @format */

.layout {
    .ant-menu-item {
        user-select: none;
    }

    .subLayout {
        .header,
        .content {
            position: relative;
            background-color: #ffffff;
        }

        .header {
            span {
                padding-left: 20px;
                font-size: 26px;
            }

            .userInfo {
                float: right;
                margin-right: 20px;
                cursor: pointer;
                user-select: none;

                span {
                    padding-left: 0;
                }

                .box {
                    display: inline;

                    b {
                        margin-left: 5px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
