.logo {
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  height: 64px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: transparent;
  background: linear-gradient(to right, #1DA57A, #4C60AF);
  background-clip: text;
  transition: all .2s ease;
  line-height: 64px;
}

:global {
  .ant-layout-sider.ant-layout-sider-collapsed {
    .logo--zBTaa {
      font-size: 18px;
    }
  }
}
